
.App {
    text-align: right;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  .movie-list {
    width: 250px;
  }
  
  .movie-list ul {
    list-style-position: none;
    padding: 3;
  }
  
  .movie-list li {
    cursor: pointer;
    padding: 10px;
    background-color: #e7a90c;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .movie-details {
    margin-left: 30px;
  }
  
  .content {
    display: flex;
  }
  
  .left-pane {
    width: 300px;
  }
  
  .right-pane {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .app-title {
    font-size: 30px;
    margin-bottom: 40px;
    background-color: lightskyblue;
  }
  